<?xml version="1.0" encoding="utf-8"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="1048576"/>
  </system.web>
  
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
    </compilers>
  </system.codedom>
  
  <connectionStrings>
    <!-- <add name="cnn" connectionString="Server=localhost;Database=test;Uid=root;Pwd=root;SslMode=none;" providerName="System.Data.SqlClient"/> -->
    <add name="cnn" connectionString="Server=info-web02.cegep-chicoutimi.qc.ca;Database=prj-jmguay;Uid=prj-jmguay;Pwd=jmguay123!;SslMode=none;" providerName="System.Data.SqlClient"/> 
  </connectionStrings>

  <appSettings>

    <!-- Change la qualité de l'image enregistré lors de l'upload (ajout de catégories) -->
    <add key="imageQuality" value="80" />
    
    
  </appSettings>
  
</configuration>