<?xml version="1.0"?>
<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, consultez
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.webServer>
    <httpErrors>
      <remove statusCode="502" subStatusCode="-1"/>
      <remove statusCode="501" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <remove statusCode="412" subStatusCode="-1"/>
      <remove statusCode="406" subStatusCode="-1"/>
      <remove statusCode="405" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="400"/>
      <error statusCode="400" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\bad_request.html"/>
      <remove statusCode="407"/>
      <error statusCode="407" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\proxy_authentication_required.html"/>
      <remove statusCode="414"/>
      <error statusCode="414" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\request-uri_too_long.html"/>
      <remove statusCode="415"/>
      <error statusCode="415" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\unsupported_media_type.html"/>
      <remove statusCode="503"/>
      <error statusCode="503" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\maintenance.html"/>
      <error statusCode="401" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\unauthorized.html"/>
      <error statusCode="403" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\forbidden.html"/>
      <error statusCode="404" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\not_found.html"/>
      <error statusCode="405" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\method_not_allowed.html"/>
      <error statusCode="406" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\not_acceptable.html"/>
      <error statusCode="412" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\precondition_failed.html"/>
      <error statusCode="500" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\internal_server_error.html"/>
      <error statusCode="501" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\not_implemented.html"/>
      <error statusCode="502" prefixLanguageFilePath="" path="C:\Inetpub\vhosts\jmguay.ca\error_docs\bad_gateway.html"/>
    </httpErrors>
  </system.webServer>
  <!--
    Pour obtenir une description des modifications de web.config, voir http://go.microsoft.com/fwlink/?LinkId=235367.

    Les attributs suivants peuvent être définis dans la balise <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime maxRequestLength="65535"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4" compilerOptions="/langversion:5 /nowarn:1659;1699;1701">
        <providerOption name="CompilerVersion" value="v4.0"/>
      </compiler>
    </compilers>
  </system.codedom>
  <connectionStrings>
     <add name="cnn" connectionString="Server=mi3-wtr1.supercp.com;Database=jmguay_ws;Uid=jmguayws;Pwd=guay123!;SslMode=none;" providerName="System.Data.SqlClient"/>
    <!-- <add name="cnn" connectionString="Server=info-web02.cegep-chicoutimi.qc.ca;Database=prj-jmguay;Uid=prj-jmguay;Pwd=jmguay123!;SslMode=none;" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <appSettings>
    
    <!-- Change la qualité de l'image enregistré lors de l'upload (ajout de catégories) -->
    <add key="imageQuality" value="80"/>
    
    <!-- informations pour EmailController -->
    <add key="SmtpHost" value="jmguay.ca"/><!-- smtp.gmail.com -->
    <add key="SmtpPort" value="25"/><!--587-->
    <add key="emailAddress" value="smtp@jmguay.ca"/> <!-- cabinet.jmguay@gmail.com -->
    <add key="password" value="guay123!"/><!-- Jmguay2018!-->
    <add key="EnableSSL" value="false"/>
    
    <!-- Informations Generales-->  
    <add key="AdresseCabinet" value=" "/>
    
  </appSettings>
</configuration>