.table td, .table th {
    vertical-align:middle !important;
}
.divRequest {
    margin: 15px;
    margin-bottom:40px;
    width: 100%;
    box-shadow:17px 4px 10px 0px rgba(0,0,0,0.75);
}

.divDate {
    background-color: #212529;
    color:white;
    font-size: 10pt;
    /*border-top-left-radius: 5px;
    border-top-right-radius: 5px;*/
    border-left: 1px black solid;
    border-right: 1px black solid;
    border-top: 1px solid black;
}

.divInfo {
    background-color: #212529;
    color:white;
    font-size: 10pt;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.divSujet {
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
    background: rgb(4, 23, 31);
    color:white;
    border-left: 1px black solid;
    border-right: 1px black solid;
}

.divContenu {
    padding-top: 10px;
    padding-bottom: 10px;
    color: black;
    background-color: #ffffff;
    border-left: 1px black solid;
    /*border-right: 1px black solid;*/
    border-bottom: 1px solid black;
    min-height:75px;
    /*border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;*/
}
.buttonX {
    text-align: center;
    background-color: #343a40;
    border: none;
    border-radius: 5px;
    color: white;
    float: right;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 3px;
}

.buttonX:hover {
    background-color: #1d6280;
}
.biggerText{
    font-size:12pt;
}
.box-shadow{ 
    box-shadow:0 0 90px 5px rgba(207,207,207,.8);
}

.box-admin {
    margin:15px;
    padding:15px;
    text-align:center;
    cursor: pointer;
    transition: 0.4s;
}

.box-admin:hover {
    background-color:rgb(29,98,128,0.1);
}

.hidden{
    display:none;
}
.highlightH4 {
    color:#1d6280;
    font-size:22pt;
}
.linkRight {
    width: 100%;
    text-align: right;
}

.ajoutPublication{
    box-shadow: 4px 4px 12px 0px rgba(0,0,0,0.75);
}

.headerPublication{
    background-color: #f7f7f7;
}
.right{
    text-align:right;
}
.trash {

}

@media only screen and (max-width: 600px) {
    alingSmall {
        text-align:center !important;
        margin:auto;
    }
}
@media only screen and (max-width: 768px){
    .right {
        text-align: left;
    }
}
