p {
    text-align:justify;
}
a {
    color: #1d6280;
}
a:hover {
    color: #1d6280;
}
::selection{
    background:#1d6280;
    color:white;
}
::-moz-selection { /* Code for Firefox */
    background:#1d6280;
    color:white;
}

html {
  height: 100%;
}

body {
   margin:0;
   padding:0;
   /*height:100%;*/
   position:relative;
   min-height:100%;
}



.fullpage {
  margin: 0 auto;
  /*padding-top: 64px;*/
}


h1,h2,h3,h4,h5{
    /*font-family: 'Montserrat';*/
    font-weight: 400;
    /*text-transform: uppercase;*/
}

.link-carousel {
    color:black;
}

.paddingNav {
    padding-top: 95px !important;
}
.paddingNav2 {
    padding-top: 125px !important;
}

.container{
    min-height:100%;
}

.parallax-window{
    min-height: 420px;
    background: transparent;
}

.space-medium{
    margin-bottom:80px;
}

.biggerBox{
    padding-top: 50px;
    padding-bottom: 50px;
}
.pb150{
    padding-bottom:150px;
}

.pb200 {
    padding-bottom:200px;
}
.evenBiggerBox{
    padding-top: 75px;
    padding-bottom: 75px;
}

.long-text{
    padding-right:10%;
}

.bc-blue {
    color: white;
    background: linear-gradient(to right, rgb(29, 98, 128) 0%, rgb(4, 23, 31) 100%);
}


.footer::before{
    padding-bottom:130px;
}
.imageCarousel{
    width:375px;
    height:375px;
} 

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /*
    right: 0;
    left: 0;
    margin-top: 0px;
        padding-top: 30px;
        */
    color: white;
    background: linear-gradient(to right, rgb(29, 98, 128) 0%, rgb(15, 63, 84) 100%);
}

#logoOPQ{

    
    width:188px;
    height:60px;
    margin-top:10px;

    /* 100 32 */
}

#textFooter {
    text-align: center;
    margin-top:30px;
}

.embed-responsive {
    /*position: relative;
    display: block;*/
    
    /*overflow: hidden;*/
}


#accueil {
    padding-top: 2.5rem;
    padding-bottom: 200px;
}

.pl0{
    padding-left:0;
}


.contact {
    padding-bottom: 200px;
}

.rdv {
    padding-bottom: 200px;
}

.connexion {
    padding-bottom: 200px;
}

.inscription {
    padding-bottom: 200px;
}
.publications{
    padding-bottom:200px;
}

#publications {
    padding-bottom: 200px;
}
#service {
    padding-bottom: 120px;
}



@media screen and (max-width: 600px) {
    .contact {
        padding-bottom: 400px;
    }

    .rdv {
        padding-bottom: 400px;
    }

    .connexion {
        padding-bottom: 400px;
    }

    .inscription {
        padding-bottom: 400px;
    }
    #accueil {
        padding-bottom: 300px;
    }
    #publications {
        padding-bottom: 300px;
    }
    .publications {
        padding-bottom: 300px;
    }
    #service {
        padding-bottom: 300px;
    }


}

@media screen and (max-width: 400px) {
    .contact {
        padding-bottom: 400px;
    }

    .rdv {
        padding-bottom: 400px;
    }

    .connexion {
        padding-bottom: 400px;
    }

    .inscription {
        padding-bottom: 400px;
    }

    #accueil {
        padding-bottom: 400px;
    }

    #publications {
        padding-bottom: 400px;
    }
    .publications {
        padding-bottom: 400px;
    }

    #service {
        padding-bottom: 400px;
    }

    
}





.banner{
    text-align:center;
    position:relative;
    height:600px;
    background-repeat:no-repeat;
    background-size:cover;
    /*background-image: url('../Images/testBanner6.jpg');*/
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0)),url('../Images/testBanner6.jpg');
}

.banner2{
    text-align:center;
    position:relative;
    height:300px;
    min-width:100%;
    background-repeat:no-repeat;
    background-size:cover;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0,0)),url('../Images/testBanner6.jpg');
    
}

.banner-Resized {
    min-height: 280px;
    background: transparent;
    position:relative
}

.va-center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.va-center2{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.va-wide {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 10px;
    justify-content: space-between;
}

.titleBanner{
    font-family: Helvetica;
    font-weight:bold;
}
h5.titleBanner{
    font-weight:inherit;
}

.titleBanner2{
    font-family: Helvetica;
    font-weight:bold;
}

#service {
    width: 100%;
    height: 100%;
    margin: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    /*padding-top: 2.5rem;*/
}

h1.titleBanner{
    font-size: 65px;
}
h5.titleBanner{
    font-size: 25px;
}

.divContent {
    padding-top: 105px;
}

.mainButton{
    color: #1d6280;
    background: #fff;
    font-size:13pt;
    font-weight:bold;
    border:4px #1d6280 solid;
    border-color: #1d6280;
    padding:15px;
    transition: 0.3s;
}

.mainButton:hover {
    background: #1d6280;
    color: #fff;
}

.mainButton2{
    background: #1d6280;
    color: #fff;
    font-size:13pt;
    font-weight:bold;
    border:4px #1d6280 solid;
    border-color: #1d6280;
    padding:15px;
    transition: 0.3s;
}

.mainButton2:hover {
    opacity:0.8;
    color: #fff;
}

.mainButton3 {
    background: #1d6280;
    color: #fff;
    font-size: 12pt;
    /*font-weight: bold;*/
    border: 4px #1d6280 solid;
    border-color: #1d6280;
    /*padding: 15px;*/
    transition: 0.3s;
}

.mainButton3:hover {
    opacity: 0.8;
    color: #fff;
}

.underline1{
    border-bottom: solid 2px #1d6280;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 25px;
}

.underline2{
    border-bottom: solid 2px #fff;
    padding-bottom: 10px;
    padding-left: 2px;
    padding-right: 25px;
}

#ContentPlaceHolder1_panelConnexion{
    padding-top: 1rem;
}

h1, h2, h3 {
    text-shadow: 1px 1px 1px #ccc;
}

.box-shadow {
    box-shadow: 0 0 20px 3px rgba(207,207,207,.8);
}

.box-admin {
    margin: 15px;
    /*padding: 15px;*/
    text-align: center;
    cursor: pointer;
    transition: 0.4s;
}
.card-img-top {
    width:375px;
    height:375px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}
.card2{
    min-width: 375px;
    transition:0.2ms;
    border-radius:10px;
    /*margin: 15px;*/
}
.card2:hover{
    /*box-shadow: 0 0 15px 1px #1d6280;*/
    opacity:0.9;
}
.card2-body {
    background:#1d628020;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
}
.parallax {
    /* The image used */
    background-image: url("http://wp2.commonsupport.com/newwp/mindron/wp-content/uploads/2018/02/services-14.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mainAdminColor {
    color: #1d6280;
}
.biggerbiggerText {
    font-size: 14pt;
}
.absolute {
    position:absolute !important;
}

/*Test animation Logo*/
.bigSquare{
	max-width:350px;
	max-height:350px;
	/*background-color:blue;*/
	margin:5px;
	padding:15px;
}

.sq {
	width:80px;
	height:80px;
	border-radius: 5px;
	background-color:white;
	margin-right:3px;
	display: inline-block;
	transition: all .4s ease-in-out;
}

.middle {
	vertical-align: middle;
	display: table-cell;
}
